# Consolidando os arquivos

In [5]:
import pandas as pd
import os
import datetime as dt

In [6]:
data = dt.datetime.now() #Para retornar a data e a hora no meomento da execução

## Alterarando colunas

In [8]:
colunas = [
    'Segmento',
    'País',
    'Produto',	
    'Qtde de Unidades Vendidas',	
    'Preço Unitário',	
    'Valor Total',	
    'Desconto',	
    'Valor Total c/ Desconto',	
    'Custo Total',	
    'Lucro',
    'Data',
    'Mês',	
    'Ano'
]
consolidado = pd.DataFrame(columns=colunas) #colunas de lista virou um dataframe

In [9]:
type(consolidado)

pandas.core.frame.DataFrame

## Ler todos os arquivos da minha pasta

In [11]:
arquivos = os.listdir('planilhas')

for excel in arquivos:
    if excel.endswith('.xlsx'):
        dados_arquivos = excel.split('-')
        segmento = dados_arquivos[0]
        pais = dados_arquivos[1].replace('.xlsx','')

        df = pd.read_excel(f'planilhas/{excel}')

        df.insert(0, 'Segmento', segmento)
        df.insert(1, 'País', pais)

        consolidado = pd.concat([consolidado, df])

    else:
        print(f'O arquivo do {Excel} não é um arquivo Excel válido')

C:\Users\ro77d\AppData\Local\Temp\ipykernel_6784\3581039605.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  consolidado = pd.concat([consolidado, df])

In [12]:
consolidado.shape

(700, 13)

In [13]:
df.Data

0    2019-09-01
1    2018-11-01
2    2019-12-01
3    2019-12-01
4    2019-06-01
5    2019-06-01
6    2019-05-01
7    2019-02-01
8    2019-11-01
9    2019-04-01
10   2018-09-01
11   2019-03-01
12   2018-12-01
13   2018-10-01
14   2018-10-01
15   2019-07-01
16   2019-01-01
17   2019-10-01
18   2019-10-01
19   2019-08-01
Name: Data, dtype: datetime64[ns]

In [14]:
data

datetime.datetime(2024, 8, 21, 19, 40, 42, 997967)

## Consolidando arquivos

In [21]:
consolidado.to_excel(f"Report-Consolidado.xlsx",
                    index=False,
                    sheet_name= 'Report consolidado'                    
)